* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.first-secition {
    background: rgba(255, 144, 14, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    padding-top: 50px;
    padding-left: 228px;
}

.heading-title {
    font-weight: 700;
    font-size: 45px;
}

.home-menu {
    display: flex;
    justify-content: space-between;
    color: #424242;
    font-weight: 500;
    font-size: 18px;
    gap: 30px;
    margin-right: 240px;
}

section.title-heading {
    margin-top: 205px;
    margin-left: 529px;
    width: 862px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.title-name {
    color: #131313;
    font-weight: 700;
    font-size: 64px;
    text-align: center;
}

.title-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.btn {
    width: 180px;
    height: 64px;
    text-align: center;
    background: #FF900E;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border-radius: 8px;
    border: none;
}

.explore-btn {
    padding-top: 32px;
    padding-bottom: 50px;
}

.first-banner {
    margin: 0 240px;
    padding: 45px;
    border-radius: 8px;
}

.feature-container {
    margin: 85px 300px;
    display: flex;
    align-items: center;
    gap: 73px;
}

.team-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.feature-section {
    width: 537px;
    height: 304px;
}

/* Feature love and enjoy Section */

.features {
    width: 1440px;
    height: 1059px;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
    gap: 54px;
    margin-top: 150px;
}

.love-enjoy-container {
    width: 586px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 240px;
    gap: 24px;
    padding: 20px;
}

.feature-love-enjoy {
    width: 468px;
    height: 106px;
    margin-bottom: 150px;
}

.feature-love-enjoy-title h1 {
    border-left: 5px solid #FF900E;
    font-weight: 700;
    font-size: 45px;
    padding-left: 20px;
    padding-bottom: 15px;
}

.feature-description-first {
    text-align: justify;
    margin-left: 0;
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.feature-sub-title {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    padding: 20px;
}

.feature-sub-title h3 p {
    font-weight: 600;
    font-size: 20px;
    margin: 10px;
}

.feature-description {
    text-align: justify;
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.architect-person {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.exp-btn {
    position: absolute;
    top: 90%;
    left: 0%;
    padding: 46px 42px;
    width: 342px;
    height: 200px;
    background: #FF900E;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
}


.exp-btn h1 {
    text-align: center;
    font-weight: 700;
    font-size: 65px;
}

.exp-title {
    font-weight: 500;
    font-size: 25px;
}

.fact-container {
    margin-left: 240px;
    margin-top: 200px;
    padding-bottom: 24px;

}

.fact-title {
    font-weight: 700;
    font-size: 45px;
}

.fact-description {
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    color: #727272;
    padding-top: 24px;
    width: 542px;
    height: 52px;
}

.fact-icon-container {
    margin: 100px 290px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fact-icon {
    padding: 45px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #FF900E;
    position: relative;
    width: 221.83px;
    height: 221.83px;
    border: 1px solid #FF900E;
    border-radius: 8px;
}

.fact-icon img:hover {
    transform: rotate(45deg);
    transition-duration: 1000ms;
}

.sponsor-container {
    width: 542px;
    height: 129px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 689px;
    margin-top: 80px;
}

.sponsor-title {
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.sponsor-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}

.sponsor-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 240px;
    mix-blend-mode: luminosity;
}

.footer {
    margin: 0 240px;
    margin-bottom: 216px;
    background: #FFF4E7;
    border-radius: 8px;
    height: 100px;
    font-weight: 400;
    font-size: 20px;
    color: #424242;
}

.footer p {
    text-align: center;
    padding: 39px;
    font-weight: 400;
    font-size: 20px;
    color: #424242;
}